In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
data=pd.read_csv("/home/sid/Downloads/iris-species/Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# Column Id is of no use.
data=data.iloc[:,1:]

In [5]:
print data.shape

(150, 5)

In [6]:
data.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109369       0.871754      0.817954
SepalWidthCm       -0.109369      1.000000      -0.420516     -0.356544
PetalLengthCm       0.871754     -0.420516       1.000000      0.962757
PetalWidthCm        0.817954     -0.356544       0.962757      1.000000

In [7]:
from sklearn import neighbors

In [8]:
X=[x for x in data.columns if x not in ["Species"] ]

In [9]:
n_neighbors=[3,4,5,6,7,8,9,10,11,12,13]

In [10]:
from sklearn.metrics import accuracy_score,make_scorer

In [11]:
for x in n_neighbors:
    model=neighbors.KNeighborsClassifier(x , weights='uniform')
    model.fit(data[X],data["Species"])
    accuracy=accuracy_score(data["Species"],model.predict(data[X]))
    print "3-Class Classifiction with k=%d has accuracy: "%(x)
    print accuracy

3-Class Classifiction with k=3 has accuracy:
0.96
3-Class Classifiction with k=4 has accuracy:
0.96
3-Class Classifiction with k=5 has accuracy:
0.9666666666666667
3-Class Classifiction with k=6 has accuracy:
0.9733333333333334
3-Class Classifiction with k=7 has accuracy:
0.9733333333333334
3-Class Classifiction with k=8 has accuracy:
0.98
3-Class Classifiction with k=9 has accuracy:
0.98
3-Class Classifiction with k=10 has accuracy:
0.98
3-Class Classifiction with k=11 has accuracy:
0.9733333333333334
3-Class Classifiction with k=12 has accuracy:
0.98
3-Class Classifiction with k=13 has accuracy:
0.98